:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.score{
  position: absolute;
  top: 0;
}
.record{
  position: absolute;
  top: 5%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://svs.gsfc.nasa.gov/vis/a010000/a014100/a014146/SupermassiveBinaryBlackHoles_desktop.png);
}

h1 {
  font-size: 3.2em;
  text-align: center;
}
h2{
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  filter: drop-shadow(0 0 2em red);
}
.Cards{
  border: 2px solid white;
  text-align: center;
  width: 300px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
ul{
  list-style-type: none;
  display: flex;
}
li{
  margin-right: 10px;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
